<div class="row">
  <div class="col s5">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">New Air Quality Request</span>
        <p>Enter your street address in the following format:</p>
        <p>'140 Market St, San Francisco, CA'</p>
      </div>

    </div>
  </div>
</div>

  <div class="row">
    <form id="new_air" class="col s5" method="post" action="/users/<%= @user.id %>/airmaps">
      <div class="row">
        <div class="input-field">
          <input name="address" type="text" class="validate">
          <label for="address">Street Address</label>
        </div>
      </div>

      <input type="submit" class="waves-effect waves-light btn" value="Submit">

    </form>
  </div>



