<div class="row">
</div>
<div class="row">
</div>
<div class="row">
</div>
<div class="row">
</div>
<div class="row">
</div>


<div class="row">
<div class="container">

  <div class="col s6 offset-s3">
    <div class="card #3949ab indigo darken-1">
      <div class="card-content white-text">
        <span class="card-title">New airMap Request</span>
        <p>Enter your street address in the following format:</p>
        <p>'140 Market St, San Francisco, CA'</p>
      </div>

      <form method="post" action="/users/<%= @user.id %>/airmaps">
        <ul class="collection">

          <li class="collection-item">

            <div class="row">
            <div class="input-field">
                <input name="address" type="text" class="validate">
                <label for="address">Street Address</label>
              </div>
            </div>
          </li>

          <input type="submit" class="waves-effect #1e88e5 blue darken-1 btn" value="Request it!">

        </ul>
      </form>

    </div>
  </div>
</div>



</div>
