<p class="collection-header"><h4>Sign Up</h4></p>

  <div class="row">
    <form class="col s12" method="post" action="/users/new">
      <div class="row">
        <div class="input-field col s6">
          <input name="user_name" type="text" class="validate">
          <label for="user_name">User Name</label>
        </div>
      </div>

      <div class="row">
      <div class="row">
        <div class="input-field col s12">
          <input name="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
        <div class="input-field col s12">
          <input name="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <input type="submit" class="waves-effect waves-light btn" value="Sign Up">

    </form>
  </div>
