
<div class="index">

  <div class="row">
  </div>
  <div class="row">
  </div>
  <div class="row">
  </div>
    <div class="row">
  </div>
  <div class="row">
  </div>
  <div class="row">
  </div>
    <div class="row">
  </div>
  <div class="row">
  </div>
  <div class="row">
  </div>  <div class="row">
  </div>
  <div class="row">
  </div>
  <div class="row">
  </div>
    <div class="row">
  </div>
  <div class="row">
  </div>
  <div class="row">
  </div>
    <div class="row">
  </div>
  <div class="row">
  </div>
  <div class="row">
  </div>
    <div class="row">
  </div>
  <div class="row">
  </div>
    <div class="row">
  </div>
  <div class="row">
  </div>
  <div class="row">
  </div>
    <div class="row">
  </div>
  <div class="row">
  </div>
  <div class="row">
  </div>
    <div class="row">
  </div>
    <div class="row">
  </div>
  <div class="row">
  </div>
  <div class="row">
  </div>
    <div class="row">
  </div>
  <div class="row">
  </div>
  <div class="row">
  </div>

  <div class="row">
    <div class="col s4 offset-s8">
      <div class="card transparent z-depth-5">
        <div class="card-content white-text">
          <span class="card-title"><h3 class="right-align">One-Click Air-Quality Mapping and Advisories</h3></span>
        </div>
      </div>
    </div>
  </div>

</div>

