<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="/js/jquery.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

  <nav>
    <div class="nav-wrapper #1e88e5 blue darken-1">
      <a href="/" class="brand-logo">airMap</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if current_user %>
          <li><a href="/users/<%=session[:user_id]%>">My Profile</a></li>
          <li><a href="/logout">Logout</a></li>
        <% else %>
          <li><a href="/login">Login</a></li>
          <li><a href="/users/new">Sign Up</a></li>
          <% end %>
      </ul>
    </div>
  </nav>
    <%= yield %>
</body>
</html>
