<img width=100% class="float" src="../pexels-photo-88214.jpeg">

<div class="row">
</div>
<div class="row">
</div>
<div class="row">
</div>
<div class="row">
</div>
<div class="row">
</div>
<div class="row">
</div>


<div class="row">
  <div class="container">

    <div class="col s6 offset-s3">
      <div class="card #3949ab indigo darken-1">
        <div class="card-content white-text">
          <span class="card-title">Registered User Login</span>
        </div>

        <form method="post" action="/login">
          <ul class="collection">

            <li class="collection-item">

              <div class="row">
                <div class="input-field">
                  <input name="email" type="text" class="validate">
                  <label for="Title">Email</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field">
                  <input name="password" type="password" class="validate">
                  <label for="Title">Password</label>
                </div>
              </div>


            </li>

            <input type="submit" class="waves-effect #1e88e5 blue darken-1 btn" value="Log In">

          </ul>
        </form>

      </div>
    </div>
  </div>
</div>
