<p class="collection-header"><h4>Log In</h4></p>

  <div class="row">
    <form class="col s12" method="post" action="/login">

      <div class="row">
        <div class="input-field col s6">
          <input name="email" type="text" class="validate">
          <label for="Title">Email</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input name="password" type="password" class="validate">
          <label for="Title">Password</label>
        </div>
      </div>

      <input type="submit" class="waves-effect waves-light btn" value="Log In">

    </form>
  </div>
